---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Atlantis">

    

      <div  class=" h-full max-h-fullgrid grid-cols-6 gap-4 content-center space-y-4 grid col-span-6  bg-gradient-to-r from-violet-200 to-violet-400">
   
        <div class=" bg-scroll h-96 grid  col-span-6" style="background-image: url(https://cdn.pixabay.com/photo/2021/11/04/18/26/triathlon-6769018_1280.jpg)">
        </div>
            <div class="h-16 grid  col-span-6 mx-6  mt-80 rounded-lg  ">
                <h1 class="text-5xl font-semibold text-center py-2">PROTOCOLOS DE ENTRENAMIENTO</h1>
            </div>
           <div class="h-32 grid col-span-2 col-start-1 rounded-lg  ml-6  border-b-4 border-indigo-500  ">
                <p class="text-base/loose p-4 font-light">Ámate, valora tu tiempo y tu calidad de vida,
                    prioriza tu bienestar, que no sea una opción,
                    tu cuerpo y mente son lo mas importante</p>
            </div>
            <div class="h-32 grid col-span-4 col-start-3 rounded-lg  mr-6 border-b-4 border-indigo-500">
                <p class="text-base/loose p-4 font-light">
                    Recuerda que tu asistencia para mi como tu coach es lo mas importante, hacer parte de tu proceso y tu confianza para el mismo es mas que un honor, por ello quiero ofrecerte el mejor servicio y para esto es esencial tener en cuenta unos cuantos protocolos para que este proceso sea lo mas asertivo posible.
                </p>
            </div>
            <div class="h-64 grid col-span-2 col-start-1 rounded-lg  ml-6 mt-2 mb-8 border-4 border-indigo-500 ">
                <p class="text-base/loose p-6 font-light">Para tu asistencia a cada clase se tendrá en cuenta una espera de 15 minutos máximo para su inicio, por respeto a tu tiempo y el del coach, si se sobrepasa este tiempo se dará por vista la clase, también con el propósito de que seamos aún más disciplinados y comprometidos con nosotros mismos</p>
            </div>
            <div class="h-64 grid col-span-2 col-start-3 rounded-lg  mt-2 mb-8 border-4  border-indigo-500 ">
                <p class="text-base/loose p-6 font-light">Para la recuperación de sesiones se tendrá en cuenta un máximo de 2 sesiones por mes, quiere decir que el usuario podrá aplazar sus sesiones máximo en dos ocasiones, dentro del tiempo de inicio y finalización de su mensualidad.</p>
            </div>
            <div class="h-64 grid col-span-2 col-start-5 rounded-lg mt-2 mr-6 mb-8 border-4  border-indigo-500 ">
                <p class="text-base/loose p-6 font-light">Al momento de necesitar aplazar una sesión se
                    tendrá en cuenta mínimo un día de anticipación
                    para así poder ser recuperada, 1 hora o 15 minutos
                    antes de la sesión no se podrá aplazar y se dará por
                    vista la sesión, así podrás organizarte mejor y
                    priorizar tu bienestar, tu cuerpo y tu mente.</p>
            </div>
            <div class="h-48 grid col-span-2 col-start-1 rounded-lg  ml-6 mt-2 mb-2 border-4  border-indigo-500 ">
                <p class="text-base/loose p-6 font-light">El pago de la mensualidad deberá realizarse a más
                    tardar el día de inicio de la misma , hasta no ser
                    realizado el pago, no se dará inicio a las sesiones,
                    esto con el fin de mantener un registro adecuado y
                    preciso.</p>
            </div>
            <div class="h-48 grid col-span-2 col-start-3 rounded-lg  mt-2 mb-2 border-4  border-indigo-500 ">
                <p class="text-base/loose p-6 font-light">Debe tenerse en cuenta que las sesiones tienen una
                    duración de mínimo 45 minutos y máximo 60
                    minutos dentro del horario designado, por eso
                    exigete y exige tu coach tu tiempo de calidad.</p>
            </div>
            <div class="h-48 grid col-span-2 col-start-5 rounded-lg  mt-2 mr-6 mb-2 border-4  border-indigo-500 ">
                <p class="text-base/loose p-6 font-light">Los resultados de tu proceso serán acordes a tu
                    disciplina en entrenamiento y en cuidados
                    alimenticios.</p>
            </div>
         </div>    
         

     
        
      
  </div>
 
</Layout>
	