---
import MoonIcon from '../icons/Moon.astro'
---

<nav class="w-full bg-cyan-400 h-24 flex items-center dark:bg-neutral-700 px-10 justify-between">
  <h1 class="text-5xl font-bold uppercase">Atlas</h1>
  <button id="toggle">
    <MoonIcon class="size-9"/>
  </button>
</nav>
<script>
  let isDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  document.documentElement.classList.toggle("dark", isDark);
  const $button = document.getElementById("toggle");
  if ($button instanceof HTMLButtonElement) {
    $button.addEventListener("click", () => {
      isDark = !isDark;
      document.documentElement.classList.toggle("dark", isDark);
    });
  }
</script>
